services:
  biometric-service:
    build: .
    container_name: biometric-service
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=run.py
      - FLASK_ENV=production
      - FLASK_DEBUG=0
      - DATABASE_URL=postgresql://postgres:postgres@postgre-container:5432/User_Biometrics
      - UPLOAD_FOLDER=uploads
      - MAX_CONTENT_LENGTH=16777216
      - FACE_MODEL=Facenet512
      - FACE_THRESHOLD=0.30
      - PALM_MATCH_THRESHOLD=0.15
      - PALM_ORB_FEATURES=1000
    volumes:
      - .:/app
    restart: unless-stopped
    networks:
      - biometric-net

networks:
  biometric-net:
    external: true
